.card {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(255, 98, 99, 1) 0%, rgba(131, 49, 51, 1) 100%);
    border-radius: 10px;
    margin: 25px;
    padding-bottom: 20px;
    text-decoration: none;
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    align-self: center;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
}

.card p {
    text-align: left;
    font-size: 18px;
    height: 52px;
    color: white;
    margin: 0 20px 0 20px;
}

/* small smartphone */
@media screen and (max-width: 420px) {
    .card {
        height: 335px;
        width: 100%;
        margin: 0 0 25px 0;
    }
}