.title {
    background: #FF6060;
    height: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.title h2 {
    color: white;
    font-size: 24px;
    margin: 0 0 0 18px;
    line-height: 24px;
}

.title img {
    transform: rotate(90deg);
    width: 14px;
    margin-right: 33px;
}

.text {
    background: #F7F7F7;
    color: #FF6060;
    font-weight: 400;
    font-size: 24px;
    border-radius: 5px;
    padding: 19px;
}

.text ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* smartphone */
@media screen and (max-width: 767px) {
    .title {
        height: 30px;
    }

    .title h2 {
        font-size: 13px;
        margin: 0 0 0 12px;
        line-height: 13px;
    }

    .title img {
        width: 9px;
        margin-right: 7px;
    }

    .text {
        font-size: 12px;
        padding: 17px;
    }
}