.rating {
    margin: 16px 0 0 0;
    display: flex;
    justify-content: flex-end;
}

.rating img {
    margin: 0 10px 0 0;
}

.rating :last-child {
    margin-right: 0;
}

/* smartphone */
@media screen and (max-width: 767px) {
    .rating {
        margin: 3px 0 25px 0;
    }

    .rating img {
        width: 15px;
        height: 15px;
        margin: 0 5px 0 0;
    }   
}