.top-block {
    display: flex;
    justify-content: space-between;
}

.top-block h1 {
    font-size: 36px;
    line-height: 51px;
    margin: 0;
}

.top-block p {
    font-size: 18px;
    line-height: 26px;
}

.bottom-block {
    display: flex;
    justify-content: space-between;
}

.sheetCollapses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 46px 0;
}

.sheetCollapses .collapse {
    flex: 1;
    margin-right: 76px;
}

.sheetCollapses div:last-child {
    margin-right: 0;
}

/* smartphone */
@media screen and (max-width: 767px) {
    .top-block {
        display: block;
    }

    .top-block h1 {
        font-size: 18px;
        line-height: 26px;
    }

    .top-block p {
        font-size: 14px;
        line-height: 20px;
    }

    .sheetCollapses {
        flex-direction: column;
    }

    .sheetCollapses .collapse {
        width: 100%;
        margin-bottom: 20px;
    }

    .sheetCollapses div:last-child {
        margin-bottom: 0;
    }
}