.sheet-blocks {
    display: flex;
    justify-content: space-between;
}

.sheet-first-block {
    flex-basis: 0;
    flex-grow: 2;
    flex-shrink: 0;
}

.sheet-second-block {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
}

.sheet-first-block h1 {
    font-size: 36px;
    line-height: 51px;
    margin: 0;
}

.sheet-first-block p {
    font-size: 18px;
    line-height: 26px;
}

.sheet-collapses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 46px 0;
}

.sheet-collapses .collapse {
    flex: 1;
    margin-right: 76px;
}

.sheet-collapses div:last-child {
    margin-right: 0;
}

/* smartphone */
@media screen and (max-width: 767px) {
    .sheet-blocks {
        display: block;
    }

    .sheet-first-block h1 {
        font-size: 18px;
        line-height: 26px;
    }

    .sheet-first-block p {
        font-size: 14px;
        line-height: 20px;
    }

    .sheet-second-block {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .sheet-collapses {
        flex-direction: column;
    }

    .sheet-collapses .collapse {
        width: 100%;
        margin-bottom: 20px;
    }

    .sheet-collapses div:last-child {
        margin-bottom: 0;
    }
}